<!DOCTYPE html>
<html>
  <head>
    <title>Wotaku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="header">
    </header>
    <%= yield %>
    <footer>
      <p>
        <h1>wotakuはアニメ、声優について語る場です</h1>
      </p>
    </footer>
  </body>
</html>
